@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "نسيان كلمة السر ";
}

<h1 style=" font-family:Cairo;direction:rtl">@ViewData["Title"]</h1>
<p style=" font-family:Cairo;direction:rtl">
  الرجاء النقر على الرابط االمرسل الى لايميل لخاص بك لاغراض اعادة كلمة السر 
</p>

